
.home-logo{
margin-left: auto;
margin-right: auto;
display: block;
}

.logo-header{
    color: #CFCFCF;
    font-weight: 600;
    margin-top: 0;
    text-align: center;
}

.homePage-wrapper{
    height: 100vh;
    padding-bottom: 500px;
    background-color: #F3F5F6;
}