<div class="card-wrapper">
  <img class="card-image" src="assets/images/pumkin.png" alt="dish">
  <span class="card-favorite material-icons-outlined">favorite_border</span>
  <div class="description-wrapper">

    <h2 class="card-header">Pumpkin Soup</h2>
    
    <div class="card-description">
      <div class="card-description-icons">
        <span class="card-likes material-icons-outlined">favorite</span>
        <span class=" likes-count "> - 245</span>
      </div>
      <div class="card-description-icons">
        <span class=" card-timer material-icons-outlined">timer</span>
        <span class="time"> - 15 min</span>
      </div>
    </div>
  
  </div>
</div>
